{{layout}}

<h1>Página de Descargas</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, recusandae reiciendis, id repellat non iusto perferendis soluta libero, debitis voluptatem aliquid! Facilis ex distinctio illo id consectetur? Architecto, optio quidem.</p>