{{layout}}

<h1>Página de Quiénes Somos</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque magni reprehenderit, repellendus hic expedita ut at deleniti maiores voluptates amet voluptatibus consequatur? Fugiat nam incidunt officia voluptatum ab harum distinctio.</p>